/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$fontfam: 'Roboto Condensed', Roboto, sans-serif;
@import 'effect';
@import 'embed';
:root {
  --color1: #9d9bf9;
  --color2: #333333;
  --color3: #808080;
  --colorok: #31da70;
  --colorerror: #ff6d6d;
  --whitecolor: #fff;
  --colorlink: #409ff5;
  --spacing: 30px;
  --colortablehead: #e4e4e4;
  --bs-gutter-x: 1.5rem;
}
.error {color: var(--colorerror) !important;}
.green {color: var(--colorok) !important;}
.gold {color: var(--color1) !important;}
.blue {color: var(--colorlink) !important;}
.main {color: var(--color1) !important;}
body {font-family: $fontfam;font-size: 14px;font-weight: 400;color: var(--whitecolor);background: url(../images/bg-bot.jpg) no-repeat bottom center;background-size: contain;background-color:#e3e4eb;}
* {outline: none;box-sizing: border-box;padding: 0;margin: 0;}
a {text-decoration: none;transition: all 0.3s ease-in-out;}
button {transition: all 0.7s ease-in-out !important;}
a:hover {text-decoration: none;}
main {position: relative;height: 100vh;}
.container{max-width: 1280px;}
.wrapper {margin: 0 auto;position: relative;width:100%;overflow: hidden;}
#layout{width: 1920px;height:auto;transform-origin: top left;overflow: hidden;}
.tren18{position: absolute;z-index: 10;left:0;top:317px;}
a.btn-xephang{position:fixed;top: 60%;left: 0;z-index: 10;
  img{max-width: 100%;display: block;}
  &:hover{filter: brightness(120%);}
}
/*=Header=*/
.header {position: relative;background:url(../images/bg-top.jpg) no-repeat top center;height: 1019px;overflow: hidden;
  .bgvideo {width: 1920px;height: 1020px;position: absolute;top:0;left: 50%;margin-left: -960px;background:none;border:none;z-index: 1;
    #videoef{width: 100%;height: auto;}
  }
  .header-center{z-index: 9;position: relative;
    .btnvideo{margin-top: 468px;
      img{opacity: 0;}
    }
  }
}
.slider{width: 100%;overflow: hidden;height:auto;}
.carousel-slider{height: auto;position: relative;overflow: hidden;z-index: 2;
    .swiper-container {width: 1180px;padding-top: 10px;padding-bottom: 10px;overflow: hidden;
      .swiper-slide{width:900px;
        img{display: block;margin: 0 auto;filter: blur(3px) grayscale(100%);}
      }
      .swiper-slide-active{
        img{filter: blur(0);}
      }
    }
}
.maincontent{margin-top:-181px;position: relative;z-index: 11;
  .slider{
    img{width: 100%;}
  }
  .blockdownload{height: 498px;overflow: hidden;
    .icongame{display: block;position: relative;width:209px;height:209px;
      img{max-width:100%;}
      .light{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        overflow: hidden;
        -webkit-filter: brightness(2);
        filter: brightness(2);
        -webkit-mask-size: 300% 200%;
        mask-size: 300% 200%;
         -webkit-mask-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 30%, #fff 50%, rgba(255,255,255,0) 60%);
        mask-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 40%, #fff 50%, rgba(255,255,255,0) 60%);
        -webkit-animation: laluot linear 2.5s infinite 1s;
        animation: laluot linear 2.5s infinite 1s;
      }
    }
    .listbutton{background: url(../images/bg-download.png) no-repeat top center;background-size: 100% 100%;padding-top:66%;margin-top: -59%;
      a{display: flex;padding: 0.75rem 0;background: 
        radial-gradient(transparent 50%, rgba(165, 135, 255, 0.5)) 
        center/200% 200% no-repeat;
     transition: 0.5s ;
        img{object-fit: contain;}
        .text{font-size: 20px;color: var(--whitecolor);}
        // &:hover{background:rgb(135 222 255 / 17%);}
         &:hover{background-size: 100% 100%;}
      }
    }
  }
  .block-news{position: relative;
    a.xemlisttin{position: absolute;top:2px;right:20px;color: var(--whitecolor);font-size: 2rem;
      &:hover{color: var(--color1);}
    }
    .nav{background-image:url(../images/bg-title-1.jpg), url(../images/bg-title-3.jpg), url(../images/bg-title-2.jpg); background-position: top left, top right, top center;background-repeat: no-repeat, no-repeat, repeat-x;background-size: contain;
      .nav-link{padding: 0.9rem 1.5rem;color: var(--whitecolor);transition:none;border:none;
        &:hover, &:focus{border:none;}
      }
      .active{color: #fdff77;border:none;background-color: transparent;}
      .breadcrumb{padding: 0.9rem 1.5rem;
        li{color: var(--whitecolor);
          a{color: var(--whitecolor);
            &:hover{text-decoration: underline;}
          }
        }
        .active{background: none;opacity: 0.5;}
        .breadcrumb-item+.breadcrumb-item::before{color: var(--whitecolor);}
      }
    }
    .fix-trangchu{height: 401px;}
    .tab-content{min-height: 401px;background-image:url(../images/bg-news1.png), url(../images/bg-news3.png), url(../images/bg-news2.png); background-position: top left, bottom right, top center;background-repeat: no-repeat, no-repeat, repeat-y;background-size: contain;overflow:hidden;
      .tab-pane{
        .list-group{list-style: square;
          li{background:transparent;display:flex;padding-left:0;
            a{color: var(--color2);
              .title-news{display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;word-break: break-word;font-weight:500; }
              .datetime{color: var(--color3);font-size: 13px;}
              &:hover{color: var(--color1);}
            }
            &:before { content:"\25aa";margin-right: 0.3rem;}
          }
        }
      }
    }
    .listtin{
      .tab-pane{min-height: 800px;}
    }
  }
  .allbutton{
    a{
      &:hover{filter: brightness(120%);}
    }
  }
  .pagination{
    a.page-link{color:var(--color2);}
    .active{
      a.page-link{background-color: var(--color1);color: var(--whitecolor);}
    }
    
  }
  .baiviet{
    .datetime{color: var(--color3);}
    p{font-size: 1rem;font-weight:300;
      img{display: block;margin: 1.2rem auto;}
    }
  }
}
.footer{min-height: 200px;background-color:#e8e9f0;margin-top:170px;
  .footer-menu{background-color:#707487;
    ul{display: flex;justify-content: center;align-items: center;align-content: center;list-style: none;
      li{padding: 0.5rem 1rem;
        a{color: var(--whitecolor);
          &:hover{color:var(--color1);}
        }
      }
    }
  }
  .footer-content{display: flex;flex-direction: column;align-items: center;justify-content: center;
    p{line-height: 1;font-weight: 500;color: var(--color2);}
  }
}
.floatbar{width: 166px;height: 653px;background: url(../images/floatside.png) no-repeat top center;position: fixed;right: 0;top: 20%;z-index: 15;
  ul{list-style: none;display: flex;justify-content: center;align-items: center;flex-direction: column;font-size: 12px;
    li{padding:0.3rem 0;
      a{display: flex;align-items: center;align-content:center;color: #fff;
        &:hover{filter: brightness(120%);}
      }
      a.store{background: #050f15;padding:0.5rem;border-radius:6px;color:#fff;width: 124px;height: 39px;
        img{width: 28px;height: 28px;object-fit: cover;}
        span{line-height: 1;}
        &:hover{background: #6358b9;}
      }
      a.naptien{position: relative;
        .light{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          overflow: hidden;
          -webkit-filter: brightness(2);
          filter: brightness(2);
          -webkit-mask-size: 300% 200%;
          mask-size: 300% 200%;
           -webkit-mask-image: -webkit-linear-gradient(-180deg, rgba(255,255,255,0) 30%, #fff 50%, rgba(255,255,255,0) 60%);
          mask-image: -webkit-linear-gradient(-180deg, rgba(255,255,255,0) 40%, #fff 50%, rgba(255,255,255,0) 60%);
          -webkit-animation: laluot linear 2.5s infinite 1s;
          animation: laluot linear 2.5s infinite 1s;
        }
      }
      a.linktc{background: url(../images/bg-btn.png) no-repeat top center;display: flex;align-items: center;justify-content: center;width: 124px;height: 39px;}
      a.totop{display: block;text-indent: -9999px;}
    }
  }
}
.nofixed {position: relative !important;}
/*=BXH=*/
.bxh{background: url(../images/bc-bxh.png) no-repeat top center;width: 1207px;height:872px;margin: 0 auto;
  .khungin{width: 921px;height:auto;margin-top:111px;position: relative;
    .nav{display: flex;justify-content: center;align-items: center;
      button{width: 300px;height: 79px;margin-bottom:24px;transition:0.2s ease;filter: grayscale(1);background:url(../images/btn.png) no-repeat top center;font-size: 24px;color:var(--whitecolor);
        &:hover, &.active{filter: hue-rotate(0deg);animation: filter 2000ms infinite ease-in-out;}
      }
    }
    .tab-content{width: 100%;height: 100%;
      table{color: var(--whitecolor);font-size: 150%;color:var(--color2);
        thead{background: rgba(255, 255, 255, 0.116);font-size: 134%;}
          tr{text-align: center;}
      }
    }
  }
}
.backhome{display: block;color: var(--whitecolor);font-size: 150%;}

.modal-dk{
  .modal-content{background: url(../images/bg-pop1.png) no-repeat top center;border:none;height:471px;width: 1200px;margin: 0 auto;position: relative;
    .modal-body{padding:4rem 12rem;
      .close{position: absolute;top:-10px;right:20px;width: 85px;height: 85px;background: url(../images/btn-close.png) no-repeat top center;border: none;}
      .content-dksom{text-align: center;
        h4{font-size: 30px;color: #101a66;font-weight: 700;text-transform: uppercase;}
        h6{color: #101a66;font-size: 22px;}
        input{border:2px solid #101a66;color: #101a66;background: transparent;width:80%;margin: 0 auto;height: 61px;border-radius: 10px;}
        p{font-size: 18px;line-height: 1.6;font-weight: 500;color: #101a66;}
        table{font-size: 18px;line-height: 1.6;font-weight: 500;color: #101a66;}
        .btn{margin: 0 auto;background:#101a66;color: white;font-weight: 700;font-size: 24px;margin-top:0.5rem;position: relative;
          span.textsub{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white;text-shadow:1px 1px 2px #cc2717, 0px 0px 6px #81170d;text-transform: uppercase;}
          }
        .btn-dangky{background: transparent;border: none;transition: all 0.3s ease-in-out;
          &:hover{filter: brightness(120%);}
        }
        
      }
    }
  }
}




@media (max-width: 1024px) {
  /*	footer{position: relative;}*/
}

@media (max-width: 768px) {
  
}
@media (max-width: 540px) {
  
}
@media (max-width: 414px) {
  
}
